body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 400px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

textarea {
    min-width: 400px;
    max-width: 400px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.exit {
    margin-top: 20px;
    background-color: #f44336;
}

button:hover {
    background-color: #45a049;
}

/* Опциональные стили для большего стиля */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

input,
textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #4caf50;
}

/* Стили для кнопки "Выйти" */
button.exit {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

button.exit:hover {
    background-color: #d32f2f;
}