<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAUNTER.blog</title>
    <link rel="icon" href="../static/image/icon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/header-menu.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
</head>

<body>
    <div class="header">
        <div class="container-header">
            <div class="header-flex">
                <div class="header-null"></div>
                <div class="gradient-border">HAUNTER.blog</div>
                <div class="header-logo"></div>
            </div>
            <div class="menu">
                <div class="header-logo logo-menu"></div>
                <div class="links">
                    <a href="/" class="link-item">HAUNTER.exe</a>
                    <a href="/images" class="link-item">HAUNTER.img</a>
                    <a href="/blog" class="link-item">HAUNTER.blog</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="blog">

        </div>
    </div>

    <div class="footer">
        <a href="/">
            <div class="footer-logo"></div>
        </a>
    </div>
</body>
<script src="../static/js/header-menu.js"></script>
<script src="../static/js/blog.js"></script>

</html>