<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <form action="/test/add" method="POST">
        <input type="text" name="title" placeholder="title" required="required">
        <input type="text" name="subtitle" placeholder="subtitle" required="required">
        <input type="text" name="content" placeholder="content" required="required">
        <input type="submit" value="Go">
    </form>
</body>
</html> -->